body {
    display: block;
    background-attachment: scroll;
    background-size: 100%;
    background-color: green;
    background-position: center;
    width: 100%;
    height: 10%;
    border: 5px solid black;
    padding: 0px 0px;
    margin: 0px 0px;
    font-size: 30px;
    color: black;
}

* {
    box-sizing: border-box;
}

.topnav {
    display: inline-block;
    background-position: center;
    background-attachment: fixed;
    background-color: bisque;
    background-size: 100%;
    width: 100%;
    height: 15%;
    margin-top: 1%;
    border: 5px solid black;
    border-radius: 20%;
    opacity: 0.9;
    font-size: 20px;
}

header {
    display: -webkit-box;
    background-position: fixed;
    background-color: beige;
    border: 2px solid red;
    font-size: 100px;
    color: black;
    text-align: center;
}

h1 {
    display: block;
    background-size: fixed;
    border: 1% solid black;
    color: white;
}

.btn {
    position: fixed;
    background-color: grey;
    background-size: auto;
    color: whitesmoke;
}

.dropdown {
    display: block;
    position: absolute;
    color: white;
    background-attachment: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 25%;
}

.dropdown-content {
    display: hidden;
    position: relative;
    background-color: rgba(0, 0, 0, 0.5);
    background-size: 100%;
    border-radius: 40%;
    border: 4px double white;
    width: auto;
    height: auto;
    font-size: 15px;
    left: 100px;
    z-index: 1;
}

button {
    border-radius: 50%;
    opacity: 0.9;
}

button:hover {
    border-radius: 80%;
    opacity: 0.1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.gallery {
    display: block;
    background-size: 100%;
    background-position: center;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10%;
    color: black;
    font-size: 20px;
    text-align: center;
    margin: 2% 25%;
    width: 30%;
    height: 1%;
}

.row {
    display:block;
    background-position: center;
    background-size: 100%;
    background-color: blanchedalmond;
    padding: 1% 2%;
    width: 10%;
    height: 5%;
    opacity: 0.3;
}
.row:hover {
opacity: 1.0;

}
.vid {

    display: float;
    background-size: 100%;
    width: 50px;
    height: 50px;
}